{% extends 'base.html.twig' %}

{% block title %}Starshop: Beam up some parts!{% endblock %}

{% block body %}
<h1>
    Starshop: your monopoly-busting option for Starship parts!
</h1>
<div>
    Browse through {{ numberOfStarships * 10 }} starships!
    {% if numberOfStarships > 400 %}
        <p>
            {# Do you think "shiploads" will pass the legal team? #}
            That's a shiploads of ships!
        </p>
    {% endif %}
</div>
<div>
    <h2>My Ship</h2>
    <table>
        // ... lines 20 - 27
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain|upper|lower|title }}</td>
        </tr>
        // ... lines 32 - 35
    </table>
</div>
{% endblock %}
